@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: gainsboro; */
  padding: 70px;
  height: 80px;
}

.nav-left {
  font-family: 'Chakra Petch', sans-serif;
}

.nav-left a {
  text-decoration: none;
  color: grey;
}

.nav-right a {
  text-decoration: none;
  color: black;
}

.nav-left h4 {
  font-size: 25px;
  font-weight: 500;
}

.nav-bar .nav-right ul {
  display: flex;
  gap: 50px;
  font-family: 'Inter', sans-serif;
}

.nav-right li {
  list-style: none;
  font-size: 18px;
}

.nav-left a:hover {
  color: black;
}

.banner .image {
  width: 100%;
  height: 500px;
}

.banner .image img {
  width: 100%;
  height: 100%;
}

.banner .content-line h2 {
  text-transform: capitalize;
  font-family: 'Chakra Petch', sans-serif;
  padding: 60px;
  background-color: rgb(241, 240, 240);
  margin-top: -10px;
  font-size: 50px;
  font-weight: 500;
  padding-left: 90px;
}

.content-text {
  color: rgba(128, 128, 128, 0.736);
  font-size: 17px;
}

.content-text .text {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50px 200px;
  gap: 50px;
  margin: 50px 90px;
  font-family: 'Inter', sans-serif;
}

.project-sec {
  width: 100%;
  height: 100%;
  margin: 50px 90px;
}

.project-headline h2 {
  font-size: 30px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

.projects {
  text-align: center;
  margin: 100px;
}

hr {
  margin-top: 20px;
  width: 80%;
}

footer {
  margin: 0px 90px;
}

footer .name {
  text-transform: capitalize;
  padding: 10px;
  font-family: 'Chakra Petch', sans-serif;
  color: black;
}

footer .name h4 {
  font-size: 25px;
  font-weight: 500;
}

footer .address {
  text-transform: capitalize;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  color: grey;
}

footer .address h5 {
  font-weight: 500;
  font-size: 15px;
}

footer .gmail a {
  text-decoration: none;
  color: grey;
}

footer .copyright {
  margin-top: 20px;
  text-align: center;
  background: #000;
  color: white;
  padding: 5px;
}
